.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.MuiDialogTitle-root {
  background-color: rgb(51, 51, 51)!important;
}

.App-header {
  background-color: hsl(0, 0%, 20%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(76, 187, 221);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*, ::before, ::after {
  box-sizing: unset!important;
  max-width: 20000px!important
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url("https://cdn.discordapp.com/attachments/933006467106242620/1017772294954819594/BACKGROUND2.png");
  background-repeat: repeat-y;
  background-size:cover;
}